.cache
*.bak
*.vpp~*
*~
bin
build
.coverage
develop-eggs
dist
*.egg
*.egg-info
eggs
.installed.cfg
lib
lib64
*.mo
.mr.developer.cfg
nosetests.xml
outwww
parts
pip-log.txt
.project
*.py[cod]
.pydevproject
sdist
.settings
*.so
.tox
var
.eggs
.idea
sample_tree
samplegits
